.btn-circle{
    height: 40px;
    line-height: 40px;  
    width: 40px;  
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    /* background-color: #4CAF50; */
    /* color: white; */
    /* text-align: center; */
    cursor: pointer;
}